{%extends 'base.html' %}
{%block userManagement%}active{%endblock%}
{%block content%}
  
  <style type="text/css">
    .questionOptions{
      padding: 0px 15px;
    }
  </style>
<div class="content" style="margin-top: -43px;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="col-md-2">
                  <a type="button" class="btn btn-info">Please answer all the questions</a>
                </div>
                
                  
                  <div class="card-body" id="quizQuestions">

                    
                  </div>
                 
                
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
{%endblock%}


{%block script%}
<script type='text/javascript' src="{{ url_for('static',filename='js')}}/takeQuiz.js"></script>


{%endblock%}